**/node_modules
# Keep environment variables out of version control
**/.env
**/public/*.jpg
**/public/*.jpeg
**/public/*.png
**/public/*.gif
**/public/*.bmp
**/public/*.tiff
**/public/*.svg
**/public/*.mp4
**/public/*.avi
**/public/*.mov
**/public/*.wmv
**/public/*.mkv
**/public/*.mp3
**/public/*.wav
**/public/*.flac
**/public/*.aac
**/public/*.ogg